.progress {
  background-color: #d8d8d8;
  border-radius: 2rem;
  height: 1.5rem;
  width: 30rem;
  margin: 2rem 0;

  &__done {
    background: linear-gradient(to left, #07cae7, #00afda, #0093ca, #0788af);
    box-shadow: 0 3px 3px -5px #07cae7, 0 2px 5px #065d9f;
    border-radius: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
    max-width: 30rem;
  }
}
