.card {
  max-width: 50rem;
  max-height: 50rem;
  margin: auto;
  margin-top: 5rem;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }

  &__image {
    margin: 2.5rem;
    padding: 0 5rem;
    img {
      width: 120px;
      height: 120px;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: rgb(231, 228, 228);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1.5rem;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }
    p {
      font-weight: bold;
    }
  }
}

.rock {
  background-color: #b6a136;
}
.ghost {
  background-color: #735797;
}
.electric {
  background-color: #f7d02c;
}
.bug {
  background-color: #a6b91a;
}
.poison {
  background-color: #a33ea1;
}
.normal {
  background-color: #a8a77a;
}
.fairy {
  background-color: #d685ad;
}
.fire {
  background-color: #ee8130;
}
.grass {
  background-color: #7ac74c;
}
.water {
  background-color: #6390f0;
}

.ground {
  background-color: #e2bf65;
}
.fighting {
  background-color: #c22e28;
}

.psychic {
  background-color: #f95587;
}

.ice {
  background-color: #96d9d6;
}

.dragon {
  background-color: #6f35fc;
}

.dark {
  background-color: #705746;
}

.steel {
  background-color: #b7b7ce;
}
